affine==2.3.1
alabaster==0.7.12
antlr-python-runtime==4.7.2
appdirs==1.4.4
apsw==3.37.0.r1
atomicwrites==1.4.0
attrs==20.2.0
babel==2.11.0
backports==1.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
blas==1.0
bottleneck==1.3.4
brotlipy==0.7.0
bzip2==1.0.8
ca-certificates==2022.9.24
cartopy==0.18.0
cdsapi==0.5.1
certifi==2022.6.15
cf-units==3.0.1
cffi==1.14.3
cfgrib==0.9.8.5
cfitsio==3.470
cftime==1.5.1.1
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.6.0
climind==0.1
cloudpickle==2.0.0
colorama==0.4.4
coverage==6.4.2
cryptography==3.1.1
curl==7.82.0
cycler==0.10.0
dask-core==2022.2.0
docutils==0.16
eccodes==2.23.0
et_xmlfile==1.0.1
exceptiongroup==1.0.0rc9
expat==2.2.10
findlibs==0.0.2
fiona==1.8.13.post1
freetype==2.10.4
freexl==1.0.6
fsspec==2022.3.0
gdal==3.0.2
geopandas==0.9.0
geopandas-base==0.9.0
geos==3.8.0
geotiff==1.7.0
hdf4==4.2.13
hdf5==1.10.6
hypothesis==6.54.4
hypothesis-jsonschema==0.22.0
icc_rt==2019.0.0
icu==58.2
idna==2.10
imagesize==1.4.1
importlib-metadata==4.11.3
importlib_metadata==4.11.3
importlib_resources==5.8.0
iniconfig==1.1.1
intel-openmp==2021.4.0
iris==3.1.0
iris-grib==0.17.1
jinja2==3.0.3
joblib==1.1.0
jpeg==9d
jsonschema==4.7.1
kealib==1.4.14
kiwisolver==1.2.0
krb5==1.19.3
libboost==1.65.1
libcurl==7.82.0
libgdal==3.0.2
libiconv==1.15
libkml==1.3.0
libnetcdf==4.8.1
libpng==1.6.37
libpq==12.9
libspatialindex==1.9.3
libspatialite==4.3.0a
libssh2==1.9.0
libtiff==4.2.0
libxml2==2.9.12
libxslt==1.1.34
libzip==1.8.0
locket==0.2.0
lxml==4.8.0
lz4-c==1.9.3
m2w64-expat==2.1.1
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gettext==0.19.7
m2w64-gmp==6.1.0
m2w64-libiconv==1.14
m2w64-libwinpthread-git==5.0.0.4634.697f757
m2w64-xz==5.2.2
mapclassify==2.4.3
markupsafe==2.1.1
matplotlib==3.3.1
matplotlib-base==3.3.1
mkl==2021.4.0
mkl-service==2.4.0
mkl_fft==1.3.1
mkl_random==1.2.2
msys2-conda-epoch==20160418
munch==2.5.0
netcdf4==1.5.7
networkx==2.6.3
numexpr==2.8.1
numpy==1.21.5
numpy-base==1.21.5
olefile==0.46
openjpeg==2.4.0
openpyxl==3.0.9
openssl==1.1.1q
owslib==0.20.0
packaging==21.3
pandas==1.3.4
partd==1.2.0
patsy==0.5.2
pcre==8.44
pillow==8.0.0
pip==20.2.4
pluggy==1.0.0
pooch==1.6.0
postgresql==12.9
proj==6.2.1
py==1.11.0
pycparser==2.20
pyepsg==0.4.0
pygments==2.13.0
pykdtree==1.3.1
pyopenssl==19.1.0
pyparsing==2.4.7
pyproj==2.6.1.post1
pyqt==5.9.2
pyrsistent==0.18.1
pyshp==2.2.0
pysocks==1.7.1
pytest==7.1.1
pytest-mock==3.8.2
python==3.7.9
python-dateutil==2.8.1
python-docx==0.8.11
python-dotenv==0.20.0
python-eccodes==1.4.0
python-xxhash==2.0.2
python_abi==3.7
pytz==2020.1
pyyaml==6.0
qt==5.9.7
rasterio==1.2.10
regionmask==0.9.0
requests==2.24.0
rtree==1.0.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
seaborn-base==0.11.2
setuptools==50.3.0
shapely==1.7.1
sip==4.19.24
six==1.15.0
snowballstemmer==2.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
soupsieve==2.3.1
sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlite==3.39.0
statsmodels==0.13.2
tbb==2018.0.5
threadpoolctl==2.2.0
tiledb==2.4.0
tk==8.6.10
tomli==1.2.2
toolz==0.11.2
tornado==6.0.4
tqdm==4.64.0
typing_extensions==4.1.1
tzdata==2022c
ucrt==10.0.20348.0
udunits2==2.2.27.27
urllib3==1.25.11
vc==14.1
vs2015_runtime==14.29.30037
wheel==0.35.1
win_inet_pton==1.1.0
wincertstore==0.2
xarray==0.20.2
xerces-c==3.2.3
xxhash==0.8.0
xz==5.2.5
yaml==0.2.5
zipp==3.7.0
zlib==1.2.11
zstd==1.5.0